In [1]:
import pandas as pd
import numpy as np
import folium
from ipyleaflet import Map, Polyline

import warnings
warnings.simplefilter("ignore", UserWarning)

from features.map import *

In [2]:
# Load the traffic data CSV file into a pandas DataFrame
df_traffic = pd.read_csv('data/data/E-tmja-2019.csv', sep=";")
df_traffic

     dateReferentiel        route  ... TMJA  ratio_PL
0         01/01/2019      31D0044  ...  NaN       NaN
1         01/01/2019     31D0044E  ...  NaN       NaN
2         01/01/2019      69D0301  ...  NaN       NaN
3         01/01/2019      69D0383  ...  NaN       NaN
4         01/01/2019  69D0383BPNL  ...  NaN       NaN
...              ...          ...  ...  ...       ...
4690      01/01/2019        N1338  ...  NaN       NaN
4691      01/01/2019        P0224  ...  NaN       NaN
4692      01/01/2019        P0524  ...  NaN       NaN
4693      01/01/2019        P0524  ...  NaN       NaN
4694      01/01/2019        P0542  ...  NaN       NaN

[4695 rows x 24 columns]

In [3]:
df_traffic.columns

Index(['dateReferentiel', 'route', 'longueur', 'prD', 'depPrD',
       'concessionPrD', 'absD', 'cumulD', 'xD', 'yD', 'zD', 'prF', 'depPrF',
       'concessionPrF', 'absF', 'cumulF', 'xF', 'yF', 'zF',
       'anneeMesureTrafic', 'typeComptageTrafic', 'typeComptageTrafic_lib',
       'TMJA', 'ratio_PL'],
      dtype='object')

In [4]:
data = add_lat_lon_columns(df_traffic)
data

C:\Users\chach\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\chach\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\chach\OneDrive - HEC Paris\M2- Courses\28- Data For sustainability\sustainability-challenge\features\map.py:32: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  df['lonD'], df['latD'] = pyproj.transform(in_proj, out_proj, df['xD'], df['yD'])
c:\Users\chach\OneDrive - HEC Paris\M2- Courses\28- Data For sustainability\sustainability-challenge\features\map.py:35: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  df['lonF'], df['latF'] = pyproj.transform(in_proj, out_proj, df['xF'], df['yF'])

     dateReferentiel        route longueur  ...       latD      lonF       latF
0         01/01/2019      31D0044       44  ...  42.911382  0.695975  42.911263
1         01/01/2019     31D0044E      762  ...  42.912490  0.698322  42.908331
2         01/01/2019      69D0301     6055  ...  45.681629  4.918315  45.667307
3         01/01/2019      69D0383    13752  ...  45.785151  4.844653  45.696348
4         01/01/2019  69D0383BPNL     2408  ...  45.789149  4.890020  45.785151
...              ...          ...      ...  ...        ...       ...        ...
4690      01/01/2019        N1338     2060  ...  49.435101  1.061294  49.449539
4691      01/01/2019        P0224     8995  ...  43.684301  1.299264  43.670324
4692      01/01/2019        P0524     1777  ...  44.300286 -0.254565  44.285224
4693      01/01/2019        P0524     3860  ...  43.990867 -0.006227  43.963525
4694      01/01/2019        P0542     1536  ...  43.636443  1.138632  43.645888

[4695 rows x 28 columns]

In [5]:
data['dateReferentiel'].min()

'01/01/2019'

In [6]:
data['dateReferentiel'].max()

'01/01/2019'

In [7]:
len(data['route'].unique())

323

In [8]:
# create a map centered on France
m = Map(center=(46.5, 2), zoom=6)

# create a polyline for each road based on its start and end coordinates
for idx, row in data.iterrows():
    # get the start and end latitude/longitude coordinates
    start_lat, start_lon = row['latD'], row['lonD']
    end_lat, end_lon = row['latF'], row['lonF']
    
    # create a polyline and add it to the map
    line = Polyline(locations=[(start_lat, start_lon), (end_lat, end_lon)], color='red', weight=3)
    m.add_layer(line)

# display the map
m

Map(center=[46.5, 2], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_te…

### Analyse par region

In [5]:
data_r = add_region_column(data)
data_r.head()

  dateReferentiel        route  ...       latF                region
0      01/01/2019      31D0044  ...  42.911263             Occitanie
1      01/01/2019     31D0044E  ...  42.908331             Occitanie
2      01/01/2019      69D0301  ...  45.667307  Auvergne-Rhône-Alpes
3      01/01/2019      69D0383  ...  45.696348  Auvergne-Rhône-Alpes
4      01/01/2019  69D0383BPNL  ...  45.785151  Auvergne-Rhône-Alpes

[5 rows x 29 columns]

In [48]:
grouped

,depPrD,level_1,dateReferentiel,route,longueur,prD,concessionPrD,absD,cumulD,xD,...,absF,cumulF,xF,yF,zF,anneeMesureTrafic,typeComptageTrafic,typeComptageTrafic_lib,TMJA,ratio_PL
0,1,1083,01/01/2019,A0042,1566,12,C,634,12643,"857366,42",...,200,14209,"858702,02","6528625,66",0,2019.0,1.0,Permanent horaire,62934.0,"13,97"
1,1,1080,01/01/2019,A0042,10,5,C,0,5009,"850283,57",...,10,5019,"850292,48","6525231,75",0,2019.0,1.0,Permanent horaire,62441.0,"14,81"
2,1,1081,01/01/2019,A0042,4060,5,C,10,5019,"850292,48",...,70,9079,"854206,73","6526222,62",0,2019.0,1.0,Permanent horaire,62441.0,"14,81"
3,1,1084,01/01/2019,A0042,4310,14,C,200,14209,"858702,02",...,510,18519,"862654,98","6530285,72",0,2019.0,1.0,Permanent horaire,56491.0,"14,66"
4,1,1134,01/01/2019,A0046,1170,16,C,40,16040,"846872,4",...,210,17210,"847462,43","6532657,16",0,2019.0,1.0,Permanent horaire,55931.0,"26,85"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4690,95,3629,01/01/2019,N0104,2702,22,N,0,21596,"662923,78",...,700,24298,"665492,14","6881090,34",0,0.0,NaN,NaN,NaN,NaN
4691,95,4262,01/01/2019,N0184,1,2,N,700,16312,"634798,37",...,701,16313,"634799,32","6881721,61",0,0.0,NaN,NaN,NaN,NaN
4692,95,4270,01/01/2019,N0184,1,6,N,0,19614,"637239,95",...,1,19615,"637240,91","6883655,54",0,0.0,NaN,NaN,NaN,NaN
4693,95,4277,01/01/2019,N0184,1,11,N,720,25308,"642418,5",...,721,25309,"642418,88","6884878,61",0,0.0,NaN,NaN,NaN,NaN
4694,95,4283,01/01/2019,N0184,153,19,N,85,32640,"646089,95",...,238,32793,"645965,35","6889776,22",0,0.0,NaN,NaN,NaN,NaN

In [35]:
# Select the top 2 busiest roads in each region
top_roads_per_region = grouped.groupby('depPrF').head(2)
top_roads_per_region

,depPrD,level_1,dateReferentiel,route,longueur,prD,concessionPrD,absD,cumulD,xD,...,absF,cumulF,xF,yF,zF,anneeMesureTrafic,typeComptageTrafic,typeComptageTrafic_lib,TMJA,ratio_PL
0,1,1083,01/01/2019,A0042,1566,12,C,634,12643,"857366,42",...,200,14209,"858702,02","6528625,66",0,2019.0,1.0,Permanent horaire,62934.0,"13,97"
1,1,1080,01/01/2019,A0042,10,5,C,0,5009,"850283,57",...,10,5019,"850292,48","6525231,75",0,2019.0,1.0,Permanent horaire,62441.0,"14,81"
5,1,1135,01/01/2019,A0046,847,17,C,210,17210,"847462,43",...,57,18057,"847729,36","6531874,41",0,2019.0,1.0,Permanent horaire,55931.0,"26,85"
7,1,1132,01/01/2019,A0046,698,12,C,680,12680,"844473,67",...,378,13378,"845144,37","6535355,16",0,2019.0,1.0,Permanent horaire,55867.0,"29,8"
41,1,1049,01/01/2019,A0040,2730,204,C,600,204600,"842070,18",...,330,207330,"840610,55","6585641,55",0,2019.0,1.0,Permanent horaire,7875.0,"15,83"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4401,90,972,01/01/2019,A0036,3963,35,C,722,56230,"989748,79",...,685,60193,"989694,18","6727598,41",0,2019.0,1.0,Permanent horaire,70784.0,"19,67"
4534,92,1557,01/01/2019,A0086,2318,12,N,69,11802,"651158,94",...,200,14120,653316,"6869292,27",0,NaN,NaN,NaN,NaN,NaN
4540,93,16,01/01/2019,A0001,2818,8,N,700,8707,"658432,54",...,513,11525,"660673,01","6873226,12",0,2019.0,1.0,Permanent horaire,196501.0,50
4568,93,1558,01/01/2019,A0086,11892,15,N,500,15381,"654533,49",...,0,27273,"662130,64","6862481,95",0,0.0,NaN,NaN,NaN,NaN
4571,94,80,01/01/2019,A0004,"730,1",0,N,0,0,"655327,41",...,"730,1","730,1","655913,12","6858057,42",0,2019.0,1.0,Permanent horaire,221626.0,NaN

Map(center=[46.5, 2], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_te…